$primary-20: #381e72;
$primary-30: #4f378b;
$primary-80: #d0bcfe;
$primary-90: #eaddff;

$secondary-20: #332d41;
$secondary-30: #4a4458;
$secondary-80: #ccc2dc;
$secondary-90: #e8def8;

$tertiary-20: #492532;
$tertiary-30: #633b48;
$tertiary-80: #efb8c8;
$tertiary-90: #ffd8e4;

$neutral-4: #0F0D13;
$neutral-6: #141218;
$neutral-10: #1D1B20; 
$neutral-12: #211F26;
$neutral-17: #2B2930;
$neutral-22: #36343B;
$neutral-90: #E6E0E9;

$neutral-var-60: #938F99;
$neutral-var-80: #CAC4DO;
