@use "color";
@use "utils";

.filters-container {
  background-color: color.$neutral-12;
  padding: 16px;
  max-width: 20vw;
  width: fit-content;
  height: 100%;

  .filter-row {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
