@use "color";
@use "utils";

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background-color: color.$neutral-12;
  border-radius: 16px;
  padding: 24px;
  max-width: 600px;
  width: 100%;
}
